<!DOCTYPE html>
<html lang="en">
<head>
  <title>Habitab</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">CrimeAnalysis</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" id = "content">
        {% block content %}
        <li><a href="#about">About</a></li>
        <li><a href="{{ url_for('login_page') }}">Login</a></li>
        <li><a href="{{ url_for('signup_page') }}">Signup</a></li>
        <li><a href="{{ url_for('PostComplaint') }}">Post Complaints</a></li>
        <li><a href="{{ url_for('user_logout') }}">Logout</a></li>
        {% endblock %}
      </ul>
    </div>
  </div>
</nav>
<br><br>
{% block body %}{% endblock %}

<footer class="container-fluid text-center" id = "footer" style = "background: #333">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <div id="contact" class="container-fluid bg-grey" style = "background: #333">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5" style="text-align: left; color: #FFFFFF; font-size: 20px">
      <p style=""> About</p>
      <p> Crime Analysis Project </p>
      <p> Manish Soni : 01FB16ECS193</p>
      <p> Manjunath Bhadranavar : 01FB16ECS195 </p>
      <p> Muhammad Usman : 01FB16ECS215 </p>
      <p> PES University,100ft. Ring Road,Banashankari 3rd stage,Bengaluru-560085. </p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
</body>
</html>