.data
     	{
     		display: none;
     	}
     	#Menubar
      {
        width:100%;
        height:60px;
        background-color: #333;
      }
      #Home
      {
        position: absolute;
        left:68%;
        top:10px;
      }
      #About
      {
        position: absolute;
        left:74%;
        top:10px;
      }
      #Frequency
      {
        position: absolute;
        left:80%;
        top:10px; 
      }
      #GraphRepresentation
      {
        position: absolute;
        left:90%;
        top:10px; 
      }
      #Title:hover
      {
        color:orange;
      }
      .MenuLink
      {
        font-size:25px;
        text-decoration: none;
        color:white;
      }
      #Title
      {
        font-size:35px;
        text-decoration: none;
        color:white;
        position: absolute;
        top:5px;
        left:15px;
      }
       .aboutDescription
      {
        font-size:30px;
        color:white;
        margin-left:5%;
      } 
      #aboutBar
      {
        width:100%;
        height:250px;
        background-color: #333;
        position: absolute;
        bottom:-12%;
        left:0;
      }
          #select
    {
      width: 80%;
      height: 35px;
      background-color: white;
      position: absolute;
      top:5%;
      left:25px;
      font-size:20px;
    }
    input[type=submit]
    {
      width:80px;
      height:35px;
      position: absolute;
      left:25px;
      top:10%;
      font-size:20px;
      color:#FFFFFF;
      font-weight: bold;
      background-color: #3573F0;
      border-radius: 10px;
    }
        #vertical
    {
      border:1px solid black;
      position: absolute;
      left:19.8%;
      height:84%;
    }
        #crimeType
    {
      position: absolute;
      left:25px;
      top:-2.5%;
      color:black;
      font-size:25px;
    }
        #menu
    {
      float:left;
      width:20%;
      position: absolute;
      left:-0.5%;
      height:84%;
      background: #E4E4E4;
      border:2px solid black;

    }
        #myDiv
    {
      float:right;
      width:80%;
      height:84%;
      position: absolute;
      right:0px;
    }
    body
    {
    	margin:0px;
    }
    #markerContent
    {
    	font-size:20px;
    }
    #GraphTitle
    {
    	position: absolute;
    	top:1%;
    	left:4%;
    	font-size:50px;
    }