<div id="aboutBar">
      <p class = 'aboutDescription' style="font-size: 15px"> <u> About </u> </p>
      <p class = 'aboutDescription' style="font-size: 15px"> CrimeAnalysis Project <br>
      <p class = 'aboutDescription' style="font-size: 15px"> Team Members: </p>
      <p class = 'aboutDescription' style="font-size: 15px"> Manish Soni : 01FB16ECS193 </p>
      <p class = 'aboutDescription' style="font-size: 15px"> Manjunath Bhadranvar : 01FB16ECS195 </p>
      <p class = 'aboutDescription' style="font-size: 15px"> Muhammad Usman : 01FB16ECS215 </p>
      <p class = 'aboutDescription' style="font-size: 15px"> PES University,100ft. Ring Road,Banashankari 3rd stage,Bengaluru-560085.</p>

</div>